<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xml:lang="en">

<head>
<meta charset="ISO-8859-1">
<title>Employee Service</title>

</head>
<body>
<h1 text-align:"center"> Employee Servicing</h1>

<div class="btn-group" style="width:100%" text-align="center">
  <a href="/addemployee"><button style="width:25%">Add new Employee Details</button></a>
 <a href="/getdetails"> <button style="width:25%">View Employee Details</button></a>
 <a href="/emps"> <button style="width:25%">Search for an Employee</button></a>
</div>

</body>
</html>
